﻿/*ADD PARAMETER BLOCK*/
.input-name {
    margin-top: 50px;
}
.add-select-group{
            margin-top:50px;
            display: inline-block;
}
.create{
           float:left;
}
.add-checkbox-group{
           margin-top:50px;
            display: inline-block;
            width:50%
            
}
.parameters_checkbox-group li+li {
    margin-top: 4px;
}
.parameters_checkbox-group ul li{
    list-style-type: none;
}
.add-countable {
    margin-top:50px;
    display: block;
}
.buttons_block {
        margin-top:50px;
}

/* ALL PARAMETERS BLOCK*/
.parameters-wrapper ul li {
    list-style-type: none;
}