﻿
@using System.Globalization
@using System.Text
@using Newtonsoft.Json
@using WebUI.Infrastructure.CustomHelpers
@model WebUI.Models.Subcategory.SubcategoryAddEditModel

@{
    //byte[] bytes = Encoding.UTF8.GetBytes(Model.ToString());
    //var input = Encoding.UTF8.GetString(bytes);
    //var output = JsonConvert.SerializeObject(input);

    var serializedModel = Html.ToJson(Model);


    ViewBag.Title = "Edit";
}
@section headerScripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/subcategoryExtentions")
}
@section headerStyles{
    @Styles.Render("~/Content/SubcategoryEdit")
}

<h2>Edit</h2>
<input type="button" data-bind="click: function() {setCurrentPage(1)}" value="All parameters" />
<input type="button" data-bind="click: function() {setCurrentPage(2)}" value="Add parameters" />
<div data-bind="template: { name: 'subcategory_current-state', data: $root}, visible: currentPage()== 1"></div>
<div data-bind="template: { name: 'subcategory_add-parameter', data: $root.AddParameterModel},visible: currentPage()== 2">
    <!--ko with: Buffer-->
    <div class="input-name">
        <span>Input name</span>
        <input type="text" data-bind="textInput:Name">
    </div>
    <!--/ko-->
    <div class="add-checkbox-group" data-bind="visible: HasCheckboxGroup() == true">
        <!--ko with: Buffer-->
        <div class="create">
            <span>Added checkboxes</span>
            <br>

            <!--ko foreach: CheckboxGroup-->
            <span>Input checkbox value</span><input type="text" data-bind="textInput: $data.Value">
            <span>Input checkbox weight</span><input type="text" data-bind="textInput: $data.Weight">
            <br>
            <!--/ko-->
            <input type="button" value="Add checkbox" data-bind="click: $parent.AddCheckbox">
            <br>
        </div>
        <div class="preview">
            <span>Preview</span>
            <ul class="parameters_checkbox-group" data-bind="foreach: CheckboxGroup">
                <li> <input type="checkbox"> <span data-bind="text:$data.Value">12312</span></li>
            </ul>
        </div>
        <!--/ko-->
    </div>
    <br>
    <div class="add-select-group" data-bind="visible: HasSelectGroup() == true">
        <!--ko with: Buffer-->
        <span>Added option</span>
        <br>
        <!--ko with: SelectGroup-->
        <!--ko foreach: Options-->
        <span>Input option value</span><input type="text" data-bind="textInput: $data.Value">
        <span>Input option name</span><input type="text" data-bind="textInput: $data.Text">
        <input type="button" value="remove" data-bind="click: $parent.RemoveOption">
        <br>
        <!--/ko-->

        <br>
        <div class="preview" data-bind="visible: Options().length>0">
            <p><span>Preview</span></p>
            <select class="parameters_select-group" multiple="" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"><option value="">Choose...</option><option value="123213">321312</option></select>
            <!--ko if: HasRange() == true-->
            <br>
            <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"><option value="">Choose...</option><option value="123213">321312</option></select>
            <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"><option value="">Choose...</option><option value="123213">321312</option></select>
            <!--/ko-->
        </div>
        <input type="button" value="Add option" data-bind="click: AddOption">
        <input type="button" data-bind="click: function() {return HasRange(!HasRange())}, attr: {value: HasRange()==true ? 'disable range': 'enable range'}" value="disable range">
        <!--/ko-->
        <!--/ko-->
    </div>
    <div class="add-countable" data-bind="visible: HasCountable() == true">
        <span>Setterd as countable: </span> <span data-bind="text: HasCountable()">true</span>
        <span>Preview</span>
        <input type="text" disabled="disabled">
    </div>
    <div class="buttons_block">
        <input type="button" value="Add checkbox group" data-bind="click: function() {return HasCheckboxGroup(true)}, visible: HasCheckboxGroup() == false" style="display: none;">
        <input type="button" value="Add select group" data-bind="click: function() {return HasSelectGroup(true)},  visible: HasSelectGroup() == false" style="display: none;">
        <input type="button" value="Add countable" data-bind="click: function() {return HasCountable(true)},  visible: HasCountable() == false" style="display: none;">
    </div>
    <div class="buttons_block">
        <input type="button" value="Reset checkbox group" data-bind="click: ResetCheckboxGroup, visible: HasCheckboxGroup()">
        <input type="button" value="Reset select group" data-bind="click: ResetSelectGroup,  visible: HasSelectGroup()">
        <input type="button" value="Reset countable" data-bind="click: ResetCountable,  visible: HasCountable()">
    </div>
    <div class="buttons_block">
        <input type="button" value="Save" data-bind="click: $root.AddParameter, visible: HasCheckboxGroup()|HasSelectGroup()|HasCountable()">
    </div>
</div>



<script type="text/html" id="subcategory_current-state">
    <h3 data-bind="text: Name"></h3>
    <div class="parameters-wrapper">
        <ul class="parameters" data-bind="foreach:{data: Parameters, as: 'parameter' }">
            <li><h4 data-bind="text: parameter.Name"></h4></li>
            <li>
                <ul class="parameters_checkbox-group" data-bind="foreach: {data :parameter.CheckboxGroup, as: 'checkbox'}">
                    <li> <input type="checkbox" /> <span data-bind="text:checkbox.Value"></span></li>
                </ul>
            </li>
            <li>
                <!--ko with: SelectGroup-->
                <div class="preview" data-bind="visible: Options().length>0">
                    <select class="parameters_select-group" multiple data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
                    <!--ko if: HasRange() == true-->
                    <br />
                    <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
                    <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
                    <!--/ko-->
                </div>
                <!--/ko-->
            </li>
            <li data-bind="visible: Countable == true">
                <input type="text" data-bind="" />
            </li>

        </ul>
    </div>
</script>

<script type="text/html" id="subcategory_add-parameter">
    <!--ko with: Buffer-->
    <div class="input-name">
        <span>Input name</span>
        <input type="text" data-bind="textInput:Name" />
    </div>
    <!--/ko-->
    <div class="add-checkbox-group" data-bind="visible: HasCheckboxGroup() == true">
        <!--ko with: Buffer-->
        <div class="create">
            <span>Added checkboxes</span>
            <br />

            <!--ko foreach: CheckboxGroup-->
            <span>Input option value</span><input type="text" data-bind="textInput: $data.Value" />
            <br />
            <!--/ko-->
            <input type="button" value="Add checkbox" data-bind="click: $parent.AddCheckbox" />
            <br />
        </div>
        <div class="preview">
            <span>Preview</span>
            <ul class="parameters_checkbox-group" data-bind="foreach: CheckboxGroup">
                <li> <input type="checkbox" /> <span data-bind="text:$data.Value"></span></li>
            </ul>
        </div>
        <!--/ko-->
    </div>
    <br />
    <div class="add-select-group" data-bind="visible: HasSelectGroup() == true">
        <!--ko with: Buffer-->
        <span>Added option</span>
        <br />
        <!--ko with: SelectGroup-->
        <!--ko foreach: Options-->
        <span>Input option value</span><input type="text" data-bind="textInput: $data.Value" />
        <span>Input option name</span><input type="text" data-bind="textInput: $data.Text" />
        <input type="button" value="remove" data-bind="click: $parent.RemoveOption" />
        <br />
        <!--/ko-->

        <br />
        <div class="preview" data-bind="visible: Options().length>0">
            <p><span>Preview</span></p>
            <select class="parameters_select-group" multiple data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
            <!--ko if: HasRange() == true-->
            <br />
            <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
            <select class="parameters_select-group" data-bind="options: Options,
                   optionsText: 'Text',
                   optionsValue: 'Value',
                   optionsCaption: 'Choose...'"></select>
            <!--/ko-->
        </div>
        <input type="button" value="Add option" data-bind="click: AddOption" />
        <input type="button" data-bind="click: function() {return HasRange(!HasRange())}, attr: {value: HasRange()==true ? 'disable range': 'enable range'}" />
        <!--/ko-->
        <!--/ko-->
    </div>
    <div class="add-countable" data-bind="visible: HasCountable() == true">
        <span>Setterd as countable: </span> <span data-bind="text: HasCountable()"></span>
        <span>Preview</span>
        <input type="text" disabled="disabled" />
    </div>
    <div class="buttons_block">
        <input type="button" value="Add checkbox group" data-bind="click: function() {return HasCheckboxGroup(true)}, visible: HasCheckboxGroup() == false" />
        <input type="button" value="Add select group" data-bind="click: function() {return HasSelectGroup(true)},  visible: HasSelectGroup() == false" />
        <input type="button" value="Add countable" data-bind="click: function() {return HasCountable(true)},  visible: HasCountable() == false" />
    </div>
    <div class="buttons_block">
        <input type="button" value="Reset checkbox group" data-bind="click: ResetCheckboxGroup, visible: HasCheckboxGroup()" />
        <input type="button" value="Reset select group" data-bind="click: ResetSelectGroup,  visible: HasSelectGroup()" />
        <input type="button" value="Reset countable" data-bind="click: ResetCountable,  visible: HasCountable()" />
    </div>
    <div class="buttons_block">
        <input type="button" value="Save" data-bind="click: $root.AddParameter, visible: HasCheckboxGroup()|HasSelectGroup()|HasCountable()" />
    </div>
</script>

<script>

    $.ready(init(@serializedModel));
</script>

